{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
{% endblock %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to my Project!</h1>
            <p class="lead">This is my project on Symfony 6 for Itransition Course.</p>
            <hr class="my-4">
            <p>Go login and explore the project</p>
            <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Go login</a>
        </div>
    </div>
{% endblock %}
